.loaderContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollContainer {
    position: relative;
    overflow: auto;
    will-change: transform;
    height: calc(100vh - 259px); /* header + search + title */
}
