.container {
    height: 100%;
    min-height: 100%;
    flex: 1 1 auto !important;
}

.title {
    color: var(--color-typo-brand);
    margin-bottom: 1rem;
}

.dropdown {
    z-index: var(--zIndex-select);
}

.fields {
    margin-bottom: 0.75rem;
}

.buttons {
    margin-top: auto;
}

.description {
    margin-bottom: 1.5rem;
}
