.sidebarOverlay {
    z-index: 90 !important;
}

.modal {
    z-index: var(--zIndex-modal);
    max-width: 480px;
    max-height: var(--travel-form-height);
    padding: 2.5rem 2rem;
}

.title {
    color: var(--color-typo-brand);
    margin-bottom: 1rem;
}

.dropdown {
    z-index: var(--zIndex-select);
}

.fields {
    margin-bottom: .75rem;
}
