.title {
    color: var(--color-typo-brand);
    margin-bottom: 1rem;
}

.dropdown {
    z-index: var(--zIndex-select);
}

.fields {
    margin-bottom: .75rem;
}

.reserveTotal {
    margin-bottom: 0.75rem;
}

.datePicker {
    z-index: 999 !important;
}
