.sidebarOverlay {
    z-index: var(--zIndex-modal) !important;
    pointer-events: none !important;
    display: flex;
    flex-direction: column;
}

.modal {
    position: relative;
    z-index: var(--zIndex-modal);
    max-width: var(--modal-max-width) !important;
    max-height: var(--travel-form-height) !important;
    min-height: var(--travel-form-height);
    padding: 1rem 2rem 1rem;
}

/*.modalLoading {*/
/*    overflow: hidden;*/
/*}*/

.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--zIndex-modal);
}

.loader {
    min-height: 92vh;
}

.close {
    position: absolute !important;
    right: 40px;
    top: 18px;
    cursor: pointer;
}
