.type {
    min-height: 40px;
    min-width: 200px;
    max-width: 200px;
}

.ant-select-selector {
    background: var(--color-control-bg-default) !important;
    border: var(--control-border-width) solid var(--container-border-color) !important;
    font-size: 30px;
    background-color: #000;
}

.dropdown {
    font-size: 30px !important;
}
