.ant-select-selector {
    background: var(--color-control-bg-default) !important;
    border: var(--control-border-width) solid var(--container-border-color) !important;
    font-size: 30px;
    background-color: #000;
}

.dropdown {
    font-size: 30px !important;
}

@media (max-width: 1365px) {
    .container {
        row-gap: 0.5rem;
    }
}

.categorySelect {
    min-width: 200px;
    max-width: 200px;
    @media (max-width: 1365px) {
        order: 0;
        min-width: 50%;
        max-width: 50%;
    }
}

.datePicker {
    @media (max-width: 1365px) {
        order: 2;
        min-width: 100%;
        max-width: 100%;
    }
}

.datepickerDropdown {
    z-index: var(--zIndex-datepicker);
}
.guestsInput {
    max-width: 100px;
    @media (max-width: 1365px) {
        order: 0;
        min-width: 50%;
        max-width: 50%;
    }
}

.searchButton {
    @media (max-width: 1365px) {
        order: 3;
    }
}
