.dateContainer {
    position: relative;
}

.date {
    position: absolute;
    left: 0;
    background-color: var(--color-bg-default);
    border-radius: 0.5rem;
    z-index: var(--z-index-calendar);
    visibility: hidden;
    opacity: 0;
}

.open {
    opacity: 1;
    visibility: visible;
}

.currentDate {
    text-transform: capitalize;
}
