.layout {
    margin-top: 136px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1365px) {
        margin-left: 0;
        margin-top: 0;
        flex-direction: row;
        justify-content: center;
    }
}

.link {
    padding: var(--space-m);
    text-decoration: none;
    color: #7c918f;
    min-height: 32px;
    min-width: 120px;

    &:hover {
        transition: all 0.25s ease-in-out;
        background-color: var(--color-bg-success);
        color: var(--color-bg-default) !important;

        .container div svg {
            fill: var(--color-bg-default);
        }
    }
}

.active {
    color: var(--color-bg-success);

    .container svg {
        fill: var(--color-bg-success);
        color: var(--color-bg-success);
    }
}
