.card {
    min-height: 180px;
    position: relative;
    max-width: 384px;
    padding: 1.25rem 1.25rem 1rem 11.5rem;
    white-space: pre-wrap;
}

@media (max-width: 1365px) {
    .card {
        max-width: 100%;
        min-width: 100%;
    }
}

.container {
    display: flex;
    gap: 51px
}

.image {
    position: absolute;
    left: 0;
    top: 20px;
}

.count {
    position: absolute;
    left: 3rem;
    top: 2.5rem;
    margin-top: 1.25rem;
}

.button {
    min-height: 3rem;
    margin-top: 2rem;
}
