@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));

body {
    background: var(--color-bg-default);
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
:root {
    --background: rgb(252 252 252);
    --foreground: rgb(49 62 56);
    --card: rgb(255 255 255);
    --card-foreground: rgb(49 62 56);
    --popover: rgb(255 255 255);
    --popover-foreground: rgb(49 62 56);
    --primary: rgb(0 178 98);
    --primary-foreground: rgb(239 255 250);
    --secondary: rgb(210 224 234);
    --secondary-foreground: rgb(18 22 31);
    --muted: rgb(211 224 234);
    --muted-foreground: rgb(0, 0, 0);
    --accent: rgb(211 224 234);
    --accent-foreground: rgb(49 62 56);
    --destructive: rgb(241 17 62);
    --border: rgb(229 236 241);
    --input: rgb(195 208 218);
    --ring: rgb(0 178 98);
    --chart-1: rgb(0 178 98);
    --chart-2: rgb(77 95 156);
    --chart-3: rgb(20 186 196);
    --chart-4: rgb(204 192 114);
    --chart-5: rgb(143 104 203);
    --sidebar: rgb(243 250 255);
    --sidebar-foreground: rgb(49 62 56);
    --sidebar-primary: rgb(0 178 98);
    --sidebar-primary-foreground: rgb(243 250 255);
    --sidebar-accent: rgb(211 224 234);
    --sidebar-accent-foreground: rgb(49 62 56);
    --sidebar-border: rgb(195 208 218);
    --sidebar-ring: rgb(0 178 98);

    --font-sans: Lato, sans-serif;
    --font-serif:
        Merriweather, Geist, Geist Fallback, ui-serif, Georgia, Cambria, 'Times New Roman', Times,
        serif;
    --font-mono:
        Roboto Mono, Geist Mono, Geist Mono Fallback, ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, 'Liberation Mono', 'Courier New', monospace;

    --radius: 0.65rem;

    --shadow-2xs: 0px 1px 3px 0px rgb(31 67 51 / 0.02);
    --shadow-xs: 0px 1px 3px 0px rgb(31 67 51 / 0.02);
    --shadow-sm: 0px 1px 3px 0px rgb(31 67 51 / 0.04), 0px 1px 2px -1px rgb(31 67 51 / 0.04);
    --shadow: 0px 1px 3px 0px rgb(31 67 51 / 0.04), 0px 1px 2px -1px rgb(31 67 51 / 0.04);
    --shadow-md: 0px 1px 3px 0px rgb(31 67 51 / 0.04), 0px 2px 4px -1px rgb(31 67 51 / 0.04);
    --shadow-lg: 0px 1px 3px 0px rgb(31 67 51 / 0.04), 0px 4px 6px -1px rgb(31 67 51 / 0.04);
    --shadow-xl: 0px 1px 3px 0px rgb(31 67 51 / 0.04), 0px 8px 10px -1px rgb(31 67 51 / 0.04);
    --shadow-2xl: 0px 1px 3px 0px rgb(31 67 51 / 0.1);
}

.dark {
    --background: rgb(8 11 20);
    --foreground: rgb(233 240 245);
    --card: rgb(18 22 31);
    --card-foreground: rgb(233 240 245);
    --popover: rgb(18 22 31);
    --popover-foreground: rgb(233 240 245);
    --primary: rgb(0 178 98);
    --primary-foreground: rgb(8 11 20);
    --secondary: rgb(40 45 61);
    --secondary-foreground: rgb(233 240 245);
    --muted: rgb(40 45 61);
    --muted-foreground: rgb(121 128 147);
    --accent: rgb(40 45 61);
    --accent-foreground: rgb(233 240 245);
    --destructive: rgb(255 22 72);
    --border: rgb(233 240 245 / 0.15);
    --input: rgb(233 240 245 / 0.2);
    --ring: rgb(0 178 98);
    --chart-1: rgb(0 178 98);
    --chart-2: rgb(105 125 188);
    --chart-3: rgb(20 186 196);
    --chart-4: rgb(204 192 114);
    --chart-5: rgb(143 104 203);
    --sidebar: rgb(18 22 31);
    --sidebar-foreground: rgb(233 240 245);
    --sidebar-primary: rgb(0 178 98);
    --sidebar-primary-foreground: rgb(8 11 20);
    --sidebar-accent: rgb(40 45 61);
    --sidebar-accent-foreground: rgb(233 240 245);
    --sidebar-border: rgb(233 240 245 / 0.15);
    --sidebar-ring: rgb(0 178 98);

    --shadow-2xs: 0px 1px 2px 0px rgb(0 0 0 / 0.01);
    --shadow-xs: 0px 1px 2px 0px rgb(0 0 0 / 0.01);
    --shadow-sm: 0px 1px 2px 0px rgb(0 0 0 / 0.01), 0px 1px 2px -1px rgb(0 0 0 / 0.01);
    --shadow: 0px 1px 2px 0px rgb(0 0 0 / 0.01), 0px 1px 2px -1px rgb(0 0 0 / 0.01);
    --shadow-md: 0px 1px 2px 0px rgb(0 0 0 / 0.01), 0px 2px 4px -1px rgb(0 0 0 / 0.01);
    --shadow-lg: 0px 1px 2px 0px rgb(0 0 0 / 0.01), 0px 4px 6px -1px rgb(0 0 0 / 0.01);
    --shadow-xl: 0px 1px 2px 0px rgb(0 0 0 / 0.01), 0px 8px 10px -1px rgb(0 0 0 / 0.01);
    --shadow-2xl: 0px 1px 2px 0px rgb(0 0 0 / 0.03);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}
@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        @apply text-base;
    }
}

.react-calendar-timeline .rct-header-root {
    background: transparent !important;
}
